@model System.Collections.Generic.List<TelegramBot.Models.Group>

<!DOCTYPE html>

<html>
<head>
    <title>Телеграм Бот</title>
</head>
<body>
<div>
    <h3>Сообщения</h3>
    <table>
        <tr>
            <td>CreatorId</td>
            <td>Name</td>
        </tr>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.CreatorId</td>
            <td>@user.Name</td>
        </tr>
        }
    </table>
</div>
</body>
</html>