@model IEnumerable<TelegramBot.Models.User>
<!DOCTYPE html>
 
<html>
<head>
    <title>Телеграм бот</title>
</head>
<body>
<h3>Пользователи</h3>
<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>FirstName</td>
        <td>ChatId</td>
        <td></td>
    </tr>
    @foreach (var user in Model)
    {
    <tr>
        <td>@user.Id</td>
        <td>@user.Name</td>
        <td>@user.FirstName</td>
        <td>@user.ChatId</td>
    </tr>
    }
</table>
</body>
</html>